<!DOCTYPE html>
<html>
<head>
    <title>Авторизация</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Авторизация</h1>
     <form action="loginPost" method="POST">
        <label>Логин</label>
        <input name="login" /><br><br>
        <label>Пароль</label>
        <input name="password" type="password" min="1" max="110" /><br><br>
        <p>
            <label>Использовать шифрование</label>
            <input type="checkbox" name="isCrypto" value="black" />
        </p>
        <input type="submit" value="Отправить" />
     </form>
</body>
<html>